@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --purple: hsl(281, 83%, 54%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-pink);
}

.background {
  background-image: url("assets/images/background-pattern-desktop.svg");
  width: 100vw;
  height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  /* border: 1px solid blue; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  max-width: 600px;
  padding: 40px;
  background: var(--white);
  border-radius: 20px;
}
@media only screen and (max-width: 450px) {
  .card {
    padding: 30px;
  }
}

.card-title {
  display: flex;
  margin-bottom: 25px;
}

.title-icon {
  margin-right: 25px;
}

.title-text {
  color: var(--dark-purple);
  font-size: 3rem;
}

.question,
.answer {
  margin-bottom: 15px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question-title {
  color: var(--dark-purple);
  line-height: 1.5rem;
  font-weight: bold;
}

.answer {
  color: var(--grayish-purple);
  line-height: 1.5rem;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

hr.solid {
  border-top: 1px solid var(--light-pink);
  margin-bottom: 15px;
}

.question.active p,
.question p:hover {
  color: var(--purple);
}

.question.active p:hover {
  color: var(--dark-purple);
}
